$font_size: 18px;
$theme_color: #0D349A;
* {
    flex-shrink: 0;
}
input {
    outline: none;
}
a {
    color: black;
    text-decoration: none;
}
.container { 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    .searchbox {
        position: relative;  
        .searchbtn {
            position: absolute;
        }
    }
}
@media screen and (min-width: 401px) {
    .container {
        height: 53px;
        width: 1320px;
        .logo {
            height: 50px;
        }
        .homepage, .consultmenu, .provservice {
            font-size: $font_size;
            padding: 0 50px;
            cursor: pointer;
        }
        .homepage:hover, .consultmenu:hover, .provservice:hover {
            color: $theme_color;
            font-weight: bold;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            .menu {
                display: none;
                position: absolute;
                width: 172px;
                padding-top: 10px;
                text-align: center;
                background-color: white;
                p {
                    font-size: 18px;
                    margin-bottom: 0;
                    padding: 10px 0;
                    cursor: pointer;
                }
                p:hover {
                    font-weight: bold;
                    color: $theme_color;
                }
            }
        }
        .dropdown:hover .menu {
            display: block;
        }
        .searchbox {
            .searchinput {
                width: 292px;
                height: 40px;
                border: 2px solid $theme_color;
                border-radius: 20px;
                padding-left: 20px;
            }
            .searchbtn {
                width: 27px;
                right: 20px;
                top: 7.5px;
                cursor: pointer;
            }
        }
    }
    
}
@media screen and (max-width: 400px) {
    .container {
        height: 46px;
        width: 355px;
        .logo {
            height: 29px;
        }
        .homepage, .dropdown, .provservice {
            display: none;
        }
        .searchbox {
            .searchinput {
                width: 156px;
                height: 27px;
                border: 1px solid $theme_color;
                border-radius: 7px;
                padding-left: 25px;
                font-size: 10px;
            }
            .searchbtn {
                width: 17px;
                right: 10px;
                top: 5px;
            }
        }
    }
}