.lobbyGroup{
    width: 100%;
    .ant-radio-button-wrapper{
        margin: 7px;
        width: 31%;
        border-radius: 7px;
        border: 1px solid #d9d9d9;
        text-align: center;
        align-items: center;
    }
    .ant-radio-button-wrapper:not(:first-child)::before{
        width: 0;
    }
}
