.lobbyGroup{
    width: 1125px;
    .ant-radio-button-wrapper{
        margin: 7px;
        width: 320px;
        border-radius: 7px !important;
        border: 1px solid #d9d9d9;
        text-align: center;
        align-items: center;
    }
    .ant-radio-button-wrapper:not(:first-child)::before{
        width: 0;
    }
}
