@import '../../../../assets/styles/variable.scss';
.detailRequest{
    display: none;
}

.container{
    margin: 0 auto;
    .title{
        color: $blue-3;
        font-weight: bold;
    }
    .button{
        background-color: $blue-3;
        color: white;
        cursor: pointer;
    }
    .subtitle{
        color: $blue-3;
        font-weight: bold;
    }
    .lobby{
        .lobbyInfo{ 
            color: $blue-3;
        }
    }
    .materialRequest{
        color: $blue-4;
        font-weight: bold;
        cursor: pointer;
    }

}

@media screen and (min-width: 401px) {
    .container{
        width: 1519px;
        padding: 50px 200px 0px 200px; 
    
        .title{
            font-size: 4em;
        }
        .GB_name{
            margin: 20px 0px 20px 0px;
            font-size: 1.2em;
        }
        .button{
            padding: 7px 15px 7px 15px;
            margin-right: 25px;
            border-radius: 8px;
        }
        .subtitle{
            font-size: 1.5em;
            padding-top: 20px;
            padding-bottom: 10px;
        }
    
        .ckbllc{
            padding-bottom: 100px;
        }
        .lobby{
            padding-top: 20px;
        }
        .audit_material{
            width: 1125px;
        }
    }
}
@media screen and (max-width: 400px) {
    .container{
        width: 375px;
        padding: 30px 10px 0px 10px; 
    
        .title{
            font-size: 2.5em;
        }
        .GB_name{
            margin: 10px 0;
            font-size: 1em;
        }
        .button{
            padding: 5px 10px;
            margin-right: 10px;
            border-radius: 8px;
        }
        .subtitle{
            font-size: 1.5em;
            padding-bottom: 10px;
            margin-top: 30px;
        }
        .ckbllc{
            padding-bottom: 30px;
        }
        .lobby{
            padding-top: 20px;
        }
        .audit_material{
            width: 360px;
        }
    }
}