@import '../../../../assets/styles/variable.scss';
$outer_bg_color: #DFEAF7;
$separator_color: #797979;
$inner_font_color: #7F7F7F;
$hint_color: #333333;
.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hint {
        font-weight: bold;
        color: $gray-6;
    }
    .selectedContainer {
        display: flex;
        .selectedBox {
            .outer {
                background-color: $blue-2;
                .desc {
                    text-align: center;
                    background-color: white;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                }
            }
        }
        
    }
    .optionContainer {
        display: flex;
        align-items: center;
    }
    .loadingBox {
        margin-bottom: 20px;
    }
    .homeBtn {
        background: $blue-3;
        text-align: center;
        color: white;
    }
    .homeBtn:hover {
        background: $theme-color;
        border-color: $theme-color;
    }
}
.disable {
    color: $gray-3;
    pointer-events: none;
}


@media screen and (min-width: 401px) {
    .container {
        width: 1519px;
        min-height: 800px;
        padding: 15px 100px;
        .hint {
            width: 1150px;
            font-size: map-get($map: $navigation, $key: 'hint-font-pc');
            margin: 30px 0;
        }
        .selectedContainer {
            flex-flow: row wrap;
            width: 1150px;
            margin-bottom: 20px;
            .selectedBox {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                .outer {
                    border-radius: 22px;
                    .desc {
                        width: 110px;
                        padding: 5px;
                        margin: 30px 20px;
                        border: solid 1px white;
                        border-radius: 5px;
                        font-size: map-get($map: $navigation, $key: 'step-font-pc');

                    }
                }
                .separator {
                    width: 70px;
                    height: 1px;
                    border-top: dashed 1px $gray-5;
                    margin: 0 20px;
                }
            }
            
        }
        .optionContainer {
            width: 755px;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 30px;
            .optionBox {
                width: 360px;
                padding: 10px;
                margin-bottom: 25px;
                border: solid 1px $gray-4;
                border-radius: 10px;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                font-size: map-get($map: $navigation, $key: 'option-font-pc');
            }
            .optionBox:hover {
                background-color: $gray-2;
                cursor: pointer;
            }

        }
        .homeBtn {
            margin: 0 auto;
            border: 2px solid $blue-3;
            border-radius: 19px;
            width: 150px;
            height: 50px;
            line-height: 45px;
            font-size: map-get($map: $navigation, $key: 'return-font-pc');
        }
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 350px;
        .hint {
            width: 350px;
            font-size: map-get($map: $navigation, $key: 'hint-font-mb');
            margin: 15px 0;
        }
        .selectedContainer {
            flex-flow: column wrap;
            align-items: center;
            width: 350px;
            margin-bottom: 20px;
            .selectedBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                .outer {
                    border-radius: 15px;
                    .desc {
                        width: 280px;
                        padding: 5px;
                        margin: 10px 30px;
                        border: solid 1px white;
                        border-radius: 5px;
                        font-size: map-get($map: $navigation, $key: 'step-font-mb');

                    }
                }
                .separator {
                    width: 1px;
                    height: 20px;
                    border-left: dashed 1px #7F7F7F;
                    margin: 5px 0;
                }
            }
            
        }

        
        .optionContainer {
            width: 350px;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin-bottom: 30px;
            .optionBox {
                width: 150px;
                text-align: center;
                padding: 5px;
                margin-bottom: 15px;
                border: solid 1px #7F7F7F;
                border-radius: 10px;
                text-align: center;
                font-size: map-get($map: $navigation, $key: 'option-font-mb');
            }
        }
        .homeBtn {
            margin: 0 auto;
            border: 1px solid #5772B8;
            border-radius: 10px;
            width: 120px;
            height: 40px;
            line-height: 35px;
            font-size: map-get($map: $navigation, $key: 'return-font-mb');
            margin-bottom: 20px;
        }
    }

}