.title {
	font-weight: bolder;
	font-size: 28px;
	margin-top: 30px;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.radioWrapper {
	display: flex;
	justify-content: space-around;
	margin: 30px -30px 0 -20px;
}

.radioItem {
	background-color: #e3ebf8;
	padding: 6px 10px;
	border-radius: 3px;
	cursor: pointer;
}

.radioItemChosen {
	background-color: #536dad;
	color: #ffffff;
	padding: 6px 10px;
	border-radius: 3px;
}

.rate {
	color: #f59a23;
}
