@import '../../../../assets/styles/variable.scss';

.hide {
    display: none;
}
.container {
    margin: 0 auto;
    .bannerShow {
        .indOrEnt {
            display: flex;
            flex-direction: row;   
            div {
                background: $theme-color;
                color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
    .businessShow {
        text-align: center;
        .classify {
            display: flex;
            flex-direction: row;
            justify-content: center;
            label {
                width: 1px;
                background: $gray-4;
            }

        }
        .specific {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
        }
    }

}
@media screen and (min-width: 401px) {
    .container {
        width: 1519px;
        .bannerShow {
            height: 328px;
            padding-left: 211px;
            padding-top: 56px;
            background-size: 1519px;
            .slogan1 {
                font-size: map-get($map: $homepage, $key: 'banner-font-1-pc');
            }
            .slogan2 {
                font-size: map-get($map: $homepage, $key: 'banner-font-2-pc');
                margin-top: 32px;
                margin-bottom: 67px;
            }
            .indOrEnt {
                div {
                    width: 152px;
                    height: 42px;
                    margin-right: 44px;
                    font-size: map-get($map: $homepage, $key: 'banner-font-3-pc');
                    img {
                        width: 32px;
                        margin-left: 20px;
                        margin-right: 7px;
                    }
                }
                .enterprise {
                    img {
                        height: 27px;
                    }
                }
            }
        }
        .businessShow {
            height: 535px;
            margin-top: 58px;
            .classify {
                margin-bottom: 57px;
                div {
                    height: 39px;
                    border: 1px solid $gray-3;
                    border-radius: 20px;
                    line-height: 40px;
                    padding: 0 35px;
                    font-size: map-get($map: $homepage, $key: 'selection-font-1-pc');
                    margin: 0 36px;
                    cursor: pointer;
                }
                div:hover {
                    border-color: $theme-color;
                    background: $theme-color;
                    color: white;
                }
                .active {
                    border-color: $theme-color;
                    background: $theme-color;
                    color: white;
                }
                label {
                    height: 38px;
                }
    
            }
            .specific {
                padding: 0 163px;
                div {
                    cursor: pointer;
                    .outerBorder {
                        width: 210px;
                        height: 210px;
                        border: 1px solid $gray-3;
                        border-radius: 105px;      
                        div {
                            margin: 6.5px;
                            height: 195px;
                            width: 195px;
                            border-radius: 98px;
                            background: $blue-1;
                            img {
                                width: 110px;
                                margin: 42.5px;
                            }
                        }
                    }
                    p {
                        font-size: map-get($map: $homepage, $key: 'selection-font-2-pc');
                        margin-top: 17px;
                    }
                }
                div:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 400px) {
    .container {
        width: 375px;
        .bannerShow {
            width: 375px;
            height: 120px;
            padding-left: 11px;
            padding-top: 20px;
            background-size: 375px;
            .slogan1 {
                font-size: map-get($map: $homepage, $key: 'selection-font-1-mb');
            }
            .slogan2 {
                font-size: map-get($map: $homepage, $key: 'selection-font-2-mb');
                margin-top: 9px;
                margin-bottom: 29px;
                max-height: 100%;
            }
            .indOrEnt {
                div {
                    width: 85px;
                    height: 21px;
                    margin-right: 18px;
                    font-size: map-get($map: $homepage, $key: 'banner-font-3-mb');
                    img {
                        width: 13px;
                        margin-left: 8px;
                        margin-right: 6px;
                    }
                }
            }
        }
        .businessShow {
            height: 565px;
            padding-top: 33px;
            .classify {
                div {
                    margin: 0 25px;
                    font-size: map-get($map: $homepage, $key: 'selection-font-1-mb');
                }
                .active {
                    color: $theme_color;
                    font-weight: bold;
                }
                div:hover {
                    color: $theme_color;
                    font-weight: bold;
                }
                label {
                    margin-top: 2px;
                    height: 18px;
                }
    
            }
            .specific {
                padding: 0 40px;
                margin-top: 60px;
                div {
                    .outerBorder {
                        width: 114px;
                        height: 114px;
                        border: 1px solid $gray-3;
                        border-radius: 57px;
                        
                        div {
                            margin: 4px;
                            height: 106px;
                            width: 106px;
                            border-radius: 53px;
                            background: $blue-1;
                            img {
                                width: 60px;
                                margin: 23px;
                            }
                        }
                    }
                    p {
                        font-size: map-get($map: $homepage, $key: 'selection-font-2-mb');
                        margin-top: 10px;
                    }
                }             
            }
        }   
    }
}