.inputGroup{
    align-self: center;
    max-lines: 1;
    margin-bottom: 10px;
    display:inline-block;

    .inputTitle{
        height: 40px;
        line-height: 40px;
        display:inline-block;
    }

    .autoComplete{
        .ant-select-selector{
            border: solid 1px white;
            border-radius: 25px 0px 0px 25px !important;
            box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.1);
        }
        display:inline-block;
    }

    .ant-btn.ant-btn-primary{
        border-top-right-radius: 25px;
        border-end-end-radius: 25px;
        display:inline-block;
        box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.1);
    }

}

@media screen and(min-width:401px){
    .inputGroup{
        padding-top: 30px;
        padding-bottom: 10px;

        .inputTitle{
            width: 100px;
            font-size: 1.4em;
        }

        .autoComplete{
            width: 750px;
        }

        .ant-btn.ant-btn-primary{
            width: 180px;
        }

    }
}

@media screen and(max-width:400px){
    .inputGroup{
        padding-left: 2%;
        padding-top: 15px;
        padding-bottom: 0px;

        .inputTitle{
            width: 20%;
            font-size: 15px;
        }

        .autoComplete{
            width: 57%;
        }

        .ant-btn.ant-btn-primary{
            width: 21%;
        }

    }
}

.searchOptionContainer{
    .subContainer{
        margin-top: 15px;
        margin-bottom: 15px;
        .ant-radio-group{
            .ant-radio-button-wrapper{
                text-align: center;
            }
        }
    }
}

@media screen and(min-width: 401px){
    .searchOptionContainer{
        .subContainer{
            .ant-radio-group{
                .ant-radio-button-wrapper{
                    width: 120px;
                }
            }
        }
    }
}

@media screen and(max-width: 400px){
    .searchOptionContainer{
        padding-left: 2%;
        .subContainer{
            .ant-radio-group{
                width:96%;
                .ant-radio-button-wrapper{
                    width: 32%;
                }
            }
        }
    }
}