@import '../../assets/styles/variable.scss';

.container {
  margin: 0 auto;
  // 展示页面的背景
  .SearchPageContainer{
    width: 100%;
    background-color: $blue-2;
    .mainContainer{
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 10px;
    }
  }
}

@media screen and(min-width: 401px){
  .container {
      display: flex;
      align-items: center;
      flex-direction: column;
    // 展示页面的背景
    .SearchPageContainer{
      .content {
        width: 1519px;
        margin: 0 auto;
        padding-left: 200px;
        padding-right: 200px;
        min-height: 400px;
        padding-bottom: 100px;
      }
      .mainContainer{
        // width: 1519px;
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 10px;
      }
    }
  }
}

@media screen and(max-width: 400px){
  .container{
    width: 355px;
    height: 100px;
    .SearchPageContainer{
      padding-bottom: 20px;
      .mainContainer{
        padding-left: 2%;
        .hotListContainer{
          display: none;
        }
      }
    }
  }
}
