@import '../../../../assets/styles/variable.scss';

.container {
  background-color: $alpha-blue;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .widthController{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      color: $blue-3;
    }
    .scoreContainer{
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      align-items: center;
      .top{
        margin-right: auto;
        .rateContainer{
          color: $orange;
        }
        .antRateText{
          justify-self: left;
          align-self: center;
          color: $orange;
        }
      }
      .optionContainer{
        margin-right: auto;
      }
      .textArea{
        width: 100%;
      }
      .btn{
        outline: none;
        background-color: $blue-3;
        color: white;
        cursor: pointer;
      }
    }

  }
  
}
@media screen and (min-width: 401px) {
  .container {
    width: 1186px;
    border-radius: 20px;
    padding: 20px 48px 40px 48px;
    margin-bottom: 100px;
    .widthController {
      .title {
        font-size: 48px;
      }
      .scoreContainer {
        border-radius: 2px;
        padding: 15px 75px;
        margin-top: 25px;
        border: solid 10px $gray-2;
        .top{
          .rateContainer {
            font-size: 48px;
          }
          .antRateText {
            margin-left: 25px;
            font-size: 28px;
          }
        }
        .optionContainer {
          margin-top: 20px;
          span {
            background: $gray-3;
            padding: 10px 20px;
            border: none;
            margin-right: 35px;
            a {
              font-size: 20px;
            }
          }
        }
        .textArea {
          margin-top: 25px;
          font-size: 20px;
          border: solid 10px $gray-2;
          border-radius: 30px;
          resize: none;
        }
        .btn{
          border-radius: 10px;
          font-size: 28px;
          padding: 0 50px;
        }
        .commit{
          margin-top: 25px;
        }
        .btn:hover{
          background: $theme-color;
        }
      }
  
    }
    
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 360px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 50px;
    .widthController{
      .title {
        font-size: 14px;
      }
      .scoreContainer{
        padding: 5px 15px;
        margin-top: 15px;
        border: solid 2px $gray-2;
        .top{
          .rateContainer{
            font-size: 16px;
          }
          .antRateText{
            margin-left: 10px;
            font-size: 12px;
          }
        }
        .optionContainer{
          margin-top: 10px;
          span {
            background: $gray-3;
            padding: 2px 5px;
            border: none;
            margin-right: 15px;
            a {
              font-size: 9px;
            }
          }
        }
        .textArea{
          margin-top: 15px;
          font-size: 9px;
          border: solid 2px $gray-2;
          border-radius: 10px;
          resize: none;
        }
        .btn{
          border-radius: 5px;
          font-size: 12px;
          padding: 0 10px;
        }
        .commit{
          margin-top: 10px;
        }
        .btn:hover{
          background: $theme-color;
        }
      }
  
    }
    
  }
}
