$contact_color: #D7D7D7; 
$contact_info_color: #F1F1F1;
$copyright_color: #F2F2F2;  // $contact_bg_color
$copyright_info_color: #6B6B6C;
* {
    flex-shrink: 0;
}
.container {
    .copyright {
        background: $copyright_color;
    }
}
@media screen and (min-width: 401px) {
    .container {
        width: 100%;
        .contact {
            padding: 50px 0;
            background: $contact_color;
            .ct_container {
                width: 1005px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            
            
            .web_info, .contact_us, .relevant_code {
                width: 300px;
                height: 185px;
            }
            .web_info, .contact_us, .relevant_code div {
                background: $copyright_color;
            }
            .web_info, .contact_us {
                padding-top: 20px;
                padding-left: 30px;
                p {
                    font-weight: bold;
                    color: #333333;
                    font-size: 16px;
                }
            }
            .web_info {
                a {
                    display: inline-block;
                    margin-top: 10px;
                    margin-right: 30px;
                    font-size: 16px;
                }
            }
            .contact_us {
                .phone {
                    margin-top: 25px;
                    font-size: 16px;
                }
                .info {
                    margin-top: 10px;

                }
            }
            .relevant_code {
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                .dropdown {
                    position: relative;
                    display: inline-block;
                    .dropdown_desc {
                        height: 59px;
                        line-height: 59px;
                        font-size: 16px;
                        cursor: pointer;
                        img {
                            width: 40px;
                            margin-bottom: 3px;
                            margin-left: 10px;
                            margin-right: 14px;
                        }
                    }
                    .content {
                        display: none;
                        position: absolute;
                        background-color: white;
                        padding: 48px 75px;
                        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
                        top: -255px;
                        img {
                            width: 151px;
                        }
                    }
                    
                }   
                .dropdown:hover .content {
                    display: block;
                }
            }
            
        }
        .copyright {
            padding: 30px 0;
            .cr_container {
                width: 1000px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .cr_info {
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    color: $copyright_info_color;
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .container {
        .contact {
            display: none;
        }
        .copyright {
            height: 330px;
        }
    }
}