@import '../../../assets/styles/variable.scss';

.container {
    .copyright {
        background: $gray-2;
    }
    .copyright {
        display: none;
    }
}
@media screen and (min-width: 401px) {
    .container {
        width: 100%;
        .contact {
            padding: 50px 0;
            background: $gray-3;
            .ctContainer {
                width: 1005px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }     
            .webInfo, .contactUs, .relevantCode {
                width: 300px;
                height: 185px;
            }
            .webInfo, .contactUs, .relevantCode div {
                background: $gray-2;
            }
            .webInfo, .contactUs {
                padding-top: 20px;
                padding-left: 30px;
                p {
                    font-weight: bold;
                    color: $gray-6;
                    font-size: map-get($map: $common, $key: 'footer-font-1-pc');
                }
            }
            .webInfo {
                a {
                    display: inline-block;
                    margin-top: 10px;
                    margin-right: 30px;
                    font-size: map-get($map: $common, $key: 'footer-font-1-pc');
                }
            }
            .contactUs {
                .phone {
                    margin-top: 25px;
                    font-size: map-get($map: $common, $key: 'footer-font-1-pc');
                }
                .info {
                    margin-top: 10px;

                }
            }
            .relevantCode {
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                .dropdown {
                    position: relative;
                    display: inline-block;
                    .dropdownDesc {
                        height: 59px;
                        line-height: 59px;
                        font-size: map-get($map: $common, $key: 'footer-font-1-pc');
                        cursor: pointer;
                        img {
                            width: 40px;
                            margin-bottom: 3px;
                            margin-left: 10px;
                            margin-right: 14px;
                        }
                    }
                    .content {
                        display: none;
                        position: absolute;
                        background-color: white;
                        padding: 48px 75px;
                        box-shadow: 0 0 5px $alpha-black;
                        top: -255px;
                        img {
                            width: 151px;
                        }
                    }
                    
                }   
                .dropdown:hover .content {
                    display: block;
                }
            }
            
        }
        .copyright {
            padding: 30px 0;
            .crContainer {
                width: 1000px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .crInfo {
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    font-size: map-get($map: $common, $key: 'footer-font-2-pc');
                    color: $gray-5;
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .container {
        .contact {
            display: none;
        }
        .copyright {
            height: 330px;
        }
    }
}