$contact_color: #D7D7D7; 
$contact_info_color: #F1F1F1;
$copyright_color: #F2F2F2;  // $contact_bg_color
* {
    flex-shrink: 0;
}
.container {
    .copyright {
        background: $copyright_color;
    }
}
@media screen and (min-width: 401px) {
    .container {
        .contact {
            height: 266px;
            width: 1519px;
            padding: 0 257px;
            background: $contact_color;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            justify-content:space-between;
            .web_info, .contact_us, .relevant_code {
                width: 300px;
                height: 185px;
            }
            .web_info, .contact_us, .relevant_code div {
                background: $copyright_color;
            }
            .relevant_code {
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                div {
                    height: 59px;
                    line-height: 59px;
                    font-size: 16px;
                    img {
                        width: 42px;
                        margin-left: 10px;
                        margin-right: 14px;
                    }
                }
            }
        }
        .copyright {
            height: 200px;
        }
    }
}
@media screen and (max-width: 400px) {
    .container {
        .contact {
            display: none;
        }
        .copyright {
            height: 330px;
        }
    }
}